In [1]:
!pip install opendartreader

Requirement already satisfied: opendartreader in c:\users\sjy04\appdata\roaming\python\python312\site-packages (0.2.3)
Requirement already satisfied: pandas>=0.19.2 in c:\users\sjy04\anaconda3\lib\site-packages (from opendartreader) (2.2.2)
Requirement already satisfied: requests>=2.3.0 in c:\users\sjy04\anaconda3\lib\site-packages (from opendartreader) (2.32.3)
Requirement already satisfied: requests-file in c:\users\sjy04\anaconda3\lib\site-packages (from opendartreader) (1.5.1)
Requirement already satisfied: lxml in c:\users\sjy04\anaconda3\lib\site-packages (from opendartreader) (5.2.1)
Requirement already satisfied: beautifulsoup4 in c:\users\sjy04\anaconda3\lib\site-packages (from opendartreader) (4.12.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sjy04\anaconda3\lib\site-packages (from pandas>=0.19.2->opendartreader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sjy04\anaconda3\lib\site-packages (from pandas>=0.19.2->opendartreader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sjy04\anaconda3\lib\site-packages (from pandas>=0.19.2->opendartreader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sjy04\anaconda3\lib\site-packages (from pandas>=0.19.2->opendartreader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sjy04\anaconda3\lib\site-packages (from requests>=2.3.0->opendartreader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sjy04\anaconda3\lib\site-packages (from requests>=2.3.0->opendartreader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sjy04\anaconda3\lib\site-packages (from requests>=2.3.0->opendartreader) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sjy04\anaconda3\lib\site-packages (from requests>=2.3.0->opendartreader) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in c:\users\sjy04\anaconda3\lib\site-packages (from beautifulsoup4->opendartreader) (2.5)
Requirement already satisfied: six in c:\users\sjy04\anaconda3\lib\site-packages (from requests-file->opendartreader) (1.16.0)

In [14]:
import OpenDartReader

api_key = ''
dart = OpenDartReader(api_key)

In [6]:
dart_sj_2022 = dart.finstate('삼성전자', 2022)

In [10]:
dart_sj_2022[(dart_sj_2022['account_nm'] == '매출액') & (dart_sj_2022['fs_nm'] == '연결재무제표')]

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
9,20230307000542,11011,2022,00126380,005930,CFS,연결재무제표,IS,손익계산서,매출액,...,2022.01.01 ~ 2022.12.31,"302,231,360,000,000",제 53 기,2021.01.01 ~ 2021.12.31,"279,604,799,000,000",제 52 기,2020.01.01 ~ 2020.12.31,"236,806,988,000,000",23,KRW

In [13]:
dart_sj_2022[(dart_sj_2022['account_nm'] == '매출액') & (dart_sj_2022['fs_nm'] == '연결재무제표')]['thstrm_amount'].values[0]

'302,231,360,000,000'