In [1]:
import numpy as np
import pandas as pd

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

## <font color=blue> 1.금융위원회_종목가져오기

### 1.1.1 공공데이타포털

* 주식시세정보를 API를 통해서 입수하기

In [3]:
from urllib.request import urlopen
import pandas as pd
from bs4 import BeautifulSoup

ServiceKey = "PQHpCPO8XCUXCPOF7nf1CW1ue7o92cGPp5Wurd%2F8Dc370C7cl2U3K%2F9MiRRWvDANczMiUiDNHyIPA%2F92YqiK9A%3D%3D"
numOfRows=3000
baseDate = 20220624

url = "https://api.odcloud.kr/api/GetKrxListedInfoService/v1/getItemInfo?numOfRows="+str(numOfRows)+"&basDt="+str(baseDate)+"&serviceKey="+str(ServiceKey)

result = urlopen(url) #this is for response of XML
stock = BeautifulSoup(result, 'lxml-xml')
te=stock.find_all("item")

In [4]:
len(te)

2483

In [5]:
print(te[0])

<item>
<basDt>20220624</basDt>
<srtnCd>A000020</srtnCd>
<isinCd>KR7000020008</isinCd>
<mrktCtg>KOSPI</mrktCtg>
<itmsNm>동화약품</itmsNm>
<crno>1101110043870</crno>
<corpNm>동화약품(주)</corpNm>
</item>

In [6]:
k = len(te)

In [7]:
k

2483

In [9]:
data = []

for i in range(len(te)):
    
    date = te[i].basDt.string.strip()   
    market = te[i].mrktCtg.string.strip()         

    name = te[i].itmsNm.string.strip()
    fullName = te[i].corpNm.string.strip()
    
    code = te[i].srtnCd.string.strip()
    fullCode = te[i].isinCd.string.strip()
    bubinCode = te[i].crno.string.strip()
     
    total = [date, market, name, fullName, code, fullCode, bubinCode]
    data.append(total)

In [10]:
temp = pd.DataFrame(data, columns= ["date", "market", "name", "fullName", "code", "fullCode", "bubinCode"])

In [11]:
temp.tail()

,date,market,name,fullName,code,fullCode,bubinCode
2478,20220624,KOSPI,코람코더원리츠,(주)코람코더원위탁관리부동산투자회사,A417310,KR7417310000,1101115837294
2479,20220624,KOSDAQ,하나금융22호스팩,하나금융22호기업인수목적 주식회사,A418170,KR7418170007,1101118164959
2480,20220624,KOSDAQ,신영스팩7호,신영해피투모로우제7호기업인수목적 주식회사,A419270,KR7419270004,1101118173760
2481,20220624,KOSDAQ,교보12호스팩,교보12호기업인수목적 주식회사,A421800,KR7421800004,1101118199592
2482,20220624,KOSDAQ,케이비제21호스팩,케이비제21호기업인수목적 주식회사,A424140,KR7424140002,1101118228987