# 파이썬 : 함수

### 1. 내장함수

* Functions are all important for good programming style. Python has a number of built-in functions that are available without import.

In [1]:
max(0, 20)   # 주어진 값중에서 최대값을 찾는 함수이다.

20

In [2]:
range(4)

range(0, 4)

In [3]:
list(range(4))

[0, 1, 2, 3]

### apply 함수

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame([[4, 9]]*3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [7]:
df.apply(np.sqrt)  # apply 함수를 이용하여 데이터에 제곱근을 취합니다.

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [4]:
bools = False, True, True

In [5]:
all(bools)  # True if all are True and False otherwise

False

In [6]:
any(bools) # False if all are False and True otherwise

True

### 2. 사용자 정의 함수

In [8]:
def f(x): 
    """
    주어진 숫자에 대해 양수 및 음수를 표현
    Docstrings 표현 방법
    """
    if x < 0: 
        return 'negative' 
    return 'nonnegative'

In [9]:
f(3)

'nonnegative'

In [10]:
def f2(x): 
    return x**2

In [11]:
f2(2)

4

In [12]:
type(f2)

function

In [8]:
def f1(x, a=1, b=1): # 함수이름(f1) 지정, a,b는 1로 고정
    return a + b*x

In [9]:
f1(2)                 # 함수 호출

3

In [10]:
f1(4)                 # 함수 호출

5

### 3. One-Line Functions : lambda

In [11]:
def f3(x):
    return x**3

In [12]:
f3(3)

27

In [13]:
f = lambda x:x**3

In [14]:
f(2)

8

### 4. Keyword arguments

In [17]:
def f(x, a=1, b=1):
    return a + b * x

In [18]:
f(2)

3

In [19]:
f(2, a=2, b=2)

6