#  제2장

데이타를 분석할때 먼저 분석해야 할 기초통계량(Summary Statistics)에 대해서 알아보기
* 평균(mean), 중앙값(median)
* 분산, 표준편차,분위수

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('house_price.csv', index_col=0)

In [27]:
df.head()

,year,month,day,price,built_yr,dong_name,apt_name,size,gu_code,size_pyung,price_pyung
0,2021,6,1,150000,1988,방배동,방배임광,82.34,11650,24.726727,6066.310420
1,2021,6,1,155000,2003,방배동,삼환나띠르빌(1002-9),148.99,11650,44.741742,3464.326465
2,2021,6,2,290000,1983,방배동,방배신삼호,185.46,11650,55.693694,5207.052734
3,2021,6,2,210000,2006,방배동,롯데캐슬헤론,169.08,11650,50.774775,4135.911994
4,2021,6,2,175000,1992,방배동,대우(효령),84.91,11650,25.498498,6863.149217

In [28]:
df.tail()

,year,month,day,price,built_yr,dong_name,apt_name,size,gu_code,size_pyung,price_pyung
191,2021,6,24,147000,2014,내곡동,서초더샵포레,59.69,11650,17.924925,8200.871168
192,2021,6,28,160000,2014,내곡동,서초더샵포레,84.81,11650,25.468468,6282.278033
193,2021,6,3,192500,2014,신원동,서초포레스타5단지,101.35,11650,30.435435,6324.864332
194,2021,6,3,192500,2014,신원동,서초포레스타5단지,101.35,11650,30.435435,6324.864332
195,2021,6,11,185000,2014,신원동,서초포레스타5단지,84.41,11650,25.348348,7298.305888

In [29]:
df.dtypes

year             int64
month            int64
day              int64
price            int64
built_yr         int64
dong_name       object
apt_name        object
size           float64
gu_code          int64
size_pyung     float64
price_pyung    float64
dtype: object

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 0 to 195
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         196 non-null    int64
 1   month        196 non-null    int64
 2   day          196 non-null    int64
 3   price        196 non-null    int64
 4   built_yr     196 non-null    int64
 5   dong_name    196 non-null    object
 6   apt_name     196 non-null    object
 7   size         196 non-null    float64
 8   gu_code      196 non-null    int64
 9   size_pyung   196 non-null    float64
 10  price_pyung  196 non-null    float64
dtypes: float64(3), int64(6), object(2)
memory usage: 18.4+ KB

In [31]:
df.head()

,year,month,day,price,built_yr,dong_name,apt_name,size,gu_code,size_pyung,price_pyung
0,2021,6,1,150000,1988,방배동,방배임광,82.34,11650,24.726727,6066.310420
1,2021,6,1,155000,2003,방배동,삼환나띠르빌(1002-9),148.99,11650,44.741742,3464.326465
2,2021,6,2,290000,1983,방배동,방배신삼호,185.46,11650,55.693694,5207.052734
3,2021,6,2,210000,2006,방배동,롯데캐슬헤론,169.08,11650,50.774775,4135.911994
4,2021,6,2,175000,1992,방배동,대우(효령),84.91,11650,25.498498,6863.149217

In [32]:
df.columns

Index(['year', 'month', 'day', 'price', 'built_yr', 'dong_name', 'apt_name',
       'size', 'gu_code', 'size_pyung', 'price_pyung'],
      dtype='object')

In [33]:
df1 = df.copy()

In [34]:
# 평균, 중앙값, 최빈치

In [35]:
df1.describe()

,year,month,day,price,built_yr,size,gu_code,size_pyung,price_pyung
count,196.0,196.0,196.000000,196.000000,196.000000,196.000000,196.0,196.000000,196.000000
mean,2021.0,6.0,15.301020,201090.770408,2000.775510,96.555573,11650.0,28.995668,7378.031921
std,0.0,0.0,7.946371,95597.319324,12.309288,50.931205,0.0,15.294656,3221.817176
min,2021.0,6.0,1.000000,19000.000000,1974.000000,18.530000,11650.0,5.564565,2688.707038
25%,2021.0,6.0,10.750000,139000.000000,1992.750000,60.087500,11650.0,18.044294,4682.251207
50%,2021.0,6.0,15.000000,206875.000000,2003.000000,84.910000,11650.0,25.498498,6889.850555
75%,2021.0,6.0,21.000000,270000.000000,2011.000000,115.980000,11650.0,34.828829,9724.376968
max,2021.0,6.0,30.000000,510000.000000,2020.000000,244.980000,11650.0,73.567568,15601.412596

In [36]:
df1.mean()

C:\Users\OWNER\AppData\Local\Temp\ipykernel_14080\2053335143.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

year             2021.000000
month               6.000000
day                15.301020
price          201090.770408
built_yr         2000.775510
size               96.555573
gu_code         11650.000000
size_pyung         28.995668
price_pyung      7378.031921
dtype: float64

In [37]:
price_mean = df1['price'].mean()

In [38]:
price_mean

201090.77040816325

In [39]:
price_std= df1['price'].std()

In [40]:
price_std

95597.31932419787

In [41]:
df.to_csv('house_price1.csv')