#  제2장

# 1. Pandas

### 3.1.1 : Series and DataFrame

* a Series : a "column" of data
* fast

In [1]:
# randn : “standard normal” distribution.

In [2]:
import pandas as pd
import numpy as np

In [4]:
# 1차원, 1개의 column은 Series라고 합니다.
s = pd.Series(np.random.randn(4), name='daily returns')

In [5]:
s

0   -0.450048
1    0.911696
2    0.050201
3    0.000651
Name: daily returns, dtype: float64

In [7]:
type(s)

pandas.core.series.Series

In [8]:
s.index = ['AMZN', 'AAPL', 'MSFT', 'GOOF']

In [9]:
s

AMZN   -0.450048
AAPL    0.911696
MSFT    0.050201
GOOF    0.000651
Name: daily returns, dtype: float64

In [10]:
s['AMZN']

-0.45004785608795905

#### 데이터트레임(DataFrame) 2개 이상의 칼럼을 데이터프레임이라고 합니다.

In [40]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
type(data)

list

In [46]:
df = pd.DataFrame(data, columns=['a', 'b', 'c']) # 컬럼 제목 만들기

In [45]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [47]:
type(df)

pandas.core.frame.DataFrame

In [48]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [49]:
df.index

RangeIndex(start=0, stop=3, step=1)