In [1]:
import pandas as pd
import numpy as np

In [2]:
###한글 폰트###
%matplotlib inline
import matplotlib.pyplot as plt

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import rcParams
from matplotlib import font_manager, rc

rcParams['axes.unicode_minus'] = False
#plt.rcParams['font.family'] = 'Malgun Gothic'

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [3]:
df = pd.read_csv("household_2020a.csv")

In [4]:
df.tail()

,year,metro,id,sex,age,number,education,marriage,asset,debt,income,income_d,industry,job,house
18059,2020,G2,993800291,1,42,3,6,2,6705,2200,179,-390,NaN,NaN,3
18060,2020,G2,994800251,1,49,5,6,2,130180,22000,15454,11784,O,3,1
18061,2020,G2,994800261,1,57,5,6,2,265226,29000,15098,11560,NaN,NaN,1
18062,2020,G2,994800291,2,53,2,7,4,109695,25000,9114,7074,O,2,2
18063,2020,G2,995800261,1,44,5,6,2,71223,13000,7857,5404,C,3,1

In [5]:
df['income'] = df['income_d']/10000

In [6]:
df['net_asset'] = df['asset']/10000 - df['debt']/10000

In [7]:
df

,year,metro,id,sex,age,number,education,marriage,asset,debt,income,income_d,industry,job,house,net_asset
0,2020,G1,10000112,1,34,3,6,2,112000,54500,0.4599,4599,F,3,2,5.7500
1,2020,G1,10000132,2,45,2,8,2,42500,17500,1.5257,15257,J,2,3,2.5000
2,2020,G1,10000162,2,73,1,2,3,5712,0,0.0725,725,T,4,2,0.5712
3,2020,G1,10000182,1,58,2,4,2,14870,0,0.2431,2431,C,5,2,1.4870
4,2020,G1,10000192,2,27,1,4,1,814,0,0.0893,893,R,2,3,0.0814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18059,2020,G2,993800291,1,42,3,6,2,6705,2200,-0.0390,-390,NaN,NaN,3,0.4505
18060,2020,G2,994800251,1,49,5,6,2,130180,22000,1.1784,11784,O,3,1,10.8180
18061,2020,G2,994800261,1,57,5,6,2,265226,29000,1.1560,11560,NaN,NaN,1,23.6226
18062,2020,G2,994800291,2,53,2,7,4,109695,25000,0.7074,7074,O,2,2,8.4695
18063,2020,G2,995800261,1,44,5,6,2,71223,13000,0.5404,5404,C,3,1,5.8223

In [62]:
df1 = df.loc[df['number'].isin([1]) & (df['age'] >= 30) & (df['age'] < 39)]

In [63]:
df1

,year,metro,id,sex,age,number,education,marriage,asset,debt,income,income_d,industry,job,house,net_asset
19,2020,G1,10001102,1,35,1,5,1,5252,0,0.1033,1033,L,5,2,0.5252
134,2020,G2,11800271,2,30,1,6,1,17920,5000,0.3032,3032,O,4,2,1.2920
157,2020,G1,12000102,1,30,1,6,1,540,0,0.1812,1812,G,5,3,0.0540
190,2020,G1,12600311,1,36,1,6,1,1500,6280,0.3959,3959,C,2,3,-0.4780
191,2020,G1,12600321,2,31,1,6,1,1610,0,0.1197,1197,J,2,5,0.1610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17525,2020,G2,951000332,1,37,1,4,1,16230,3708,0.3090,3090,C,8,2,1.2522
17544,2020,G2,951700271,2,30,1,5,1,4536,1600,0.1017,1017,Q,2,3,0.2936
17599,2020,G2,952600291,2,37,1,6,1,37540,9020,0.4603,4603,Q,2,2,2.8520
17696,2020,G2,960900311,1,37,1,5,1,7500,300,0.1122,1122,Q,2,5,0.7200
18014,2020,G2,990800261,2,34,1,6,1,41904,3000,0.4618,4618,P,2,1,3.8904

In [64]:
df1 = df1.loc[(df1['age'] >= 31) & (df1['age'] < 39)]

In [65]:
df1 = df1[['income', 'net_asset']]

In [66]:
df1

       income  net_asset
19     0.1033     0.5252
190    0.3959    -0.4780
191    0.1197     0.1610
262    0.3790     1.2412
293    0.3440    -0.0440
...       ...        ...
17502  0.4088     1.5204
17525  0.3090     1.2522
17599  0.4603     2.8520
17696  0.1122     0.7200
18014  0.4618     3.8904

[308 rows x 2 columns]

In [67]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

asset_model = ols("net_asset ~ income", data = df1).fit()

In [68]:
print(asset_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              net_asset   R-squared:                       0.136
Model:                            OLS   Adj. R-squared:                  0.134
Method:                 Least Squares   F-statistic:                     48.34
Date:                Mon, 13 Feb 2023   Prob (F-statistic):           2.17e-11
Time:                        15:10:10   Log-Likelihood:                -505.70
No. Observations:                 308   AIC:                             1015.
Df Residuals:                     306   BIC:                             1023.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2191      0.138      1.591      0.113      -0.052       0.490
income         2.7894      0.401      6.953      0.000       2.000       3.579
==============================================================================
Omnibus:                      206.378   Durbin-Watson:                   2.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2016.689
Skew:                           2.699   Prob(JB):                         0.00
Kurtosis:                      14.314   Cond. No.                         6.11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [69]:
asset_model.params

Intercept    0.219072
income       2.789424
dtype: float64

In [70]:
asset_model.params[0]

0.21907154483136235

In [71]:
# estimation error, 추정오차

In [72]:
df2 = df1.copy()

In [73]:
df2['predicted'] = asset_model.params[0] + df2['income']*asset_model.params[1]

In [74]:
df2['er'] = df2['net_asset'] - df2['predicted']

In [75]:
df2.head()

     income  net_asset  predicted        er
19   0.1033     0.5252   0.507219  0.017981
190  0.3959    -0.4780   1.323405 -1.801405
191  0.1197     0.1610   0.552966 -0.391966
262  0.3790     1.2412   1.276263 -0.035063
293  0.3440    -0.0440   1.178634 -1.222634

In [76]:
# RMSE 구하기

In [77]:
error = df2['er'].to_numpy()

In [78]:
len(error)

308

In [79]:
error2 = []

for i in range(len(error)):
    er2 = error[i] ** 2
    error2.append(er2)

In [80]:
rmse = np.sqrt(np.sum(error2)/(len(error)-2))

In [81]:
np.round(rmse, 2)

1.25

In [82]:
# 소득이 5천만원인 30대 이상 가구주중에서 순자산이 2억원 이상인 비율

In [83]:
import scipy.stats as st

In [84]:
intercept = asset_model.params[0]

In [85]:
slope = asset_model.params[1]

In [86]:
asset1_mn = intercept + 0.5*slope

In [87]:
asset1_mn

1.6137837361584668

In [88]:
dif = 2 -asset1_mn

In [89]:
z = dif/rmse

In [90]:
np.round(z, 3)

0.308

In [91]:
p_value = 1-st.norm.cdf(z)

In [92]:
np.round(p_value, 2)

0.38

### 결정계수

In [94]:
df3 = df2.copy()

In [95]:
df3.head(3)

     income  net_asset  predicted        er
19   0.1033     0.5252   0.507219  0.017981
190  0.3959    -0.4780   1.323405 -1.801405
191  0.1197     0.1610   0.552966 -0.391966

In [96]:
df3['y_bar'] = df3['net_asset'].mean()

In [97]:
df3['sst'] = (df3['net_asset'] - df3['y_bar'])**2
df3['ssr'] = (df3['predicted'] - df3['y_bar'])**2
df3['sse'] = (df3['net_asset'] - df3['predicted'])**2

In [98]:
df4 = df3[['sst', 'ssr', 'sse']]

In [99]:
df5 = df4.sum(axis=0)

In [100]:
r2 = df5['ssr']/df5['sst']

In [101]:
r2

0.13642435181998333

In [102]:
print('R2: ', asset_model.rsquared)

R2:  0.13642435181998314

In [103]:
#  adjucted R squae

In [104]:
k = 2
n = len(df3)

In [105]:
n

308

In [106]:
a = df5['sse']/(n-k-1)
b = df5['sst']/(n-1)
adjR2 = 1 - a/b

In [107]:
adjR2

0.1307615606843765

In [108]:
print('adjsted R2: ', asset_model.rsquared_adj)

adjsted R2:  0.133602209178872