In [1]:
import pandas as pd
import numpy  as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

###한글 폰트###
from matplotlib import rcParams
from matplotlib import font_manager, rc

rcParams['axes.unicode_minus'] = False
#plt.rcParams['font.family'] = 'Malgun Gothic'

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [3]:
import FinanceDataReader as fdr

In [5]:
# 삼성전자()"005930"

df = fdr.DataReader('005930', '2010-01-01') # 2018-01-01 ~ 현재

In [7]:
df.head()

             Open   High    Low  Close  Volume    Change
Date
2010-01-04  16060  16180  16000  16180  239271  0.012516
2010-01-05  16520  16580  16300  16440  559219  0.016069
2010-01-06  16580  16820  16520  16820  459755  0.023114
2010-01-07  16820  16820  16260  16260  443237 -0.033294
2010-01-08  16400  16420  16120  16420  295798  0.009840

In [8]:
df1 = df.loc[ '2021-01-01':'2021-12-31'] #1년간 거래내역

In [9]:
df1.head()

             Open   High    Low  Close    Volume    Change
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691
2021-01-05  81600  83900  81600  83900  35335669  0.010843
2021-01-06  83300  84500  82100  82200  42089013 -0.020262
2021-01-07  82800  84200  82700  82900  32644642  0.008516
2021-01-08  83300  90000  83000  88800  59013307  0.071170

In [10]:
df2 = df1.copy()

In [11]:
df2['ret']  = (df2['Close'].pct_change())*100

In [12]:
df2

             Open   High    Low  Close    Volume    Change       ret
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691       NaN
2021-01-05  81600  83900  81600  83900  35335669  0.010843  1.084337
2021-01-06  83300  84500  82100  82200  42089013 -0.020262 -2.026222
2021-01-07  82800  84200  82700  82900  32644642  0.008516  0.851582
2021-01-08  83300  90000  83000  88800  59013307  0.071170  7.117008
...           ...    ...    ...    ...       ...       ...       ...
2021-12-24  80200  80800  80200  80500  12086380  0.007509  0.750939
2021-12-27  80600  80600  79800  80200  10783368 -0.003727 -0.372671
2021-12-28  80200  80400  79700  80300  18226325  0.001247  0.124688
2021-12-29  80200  80200  78500  78800  19794795 -0.018680 -1.867995
2021-12-30  78900  79500  78100  78300  14236700 -0.006345 -0.634518

[248 rows x 7 columns]

In [13]:
df3 = df2['ret']

In [14]:
r = df3.dropna()

In [15]:
r

Date
2021-01-05    1.084337
2021-01-06   -2.026222
2021-01-07    0.851582
2021-01-08    7.117008
2021-01-11    2.477477
                ...
2021-12-24    0.750939
2021-12-27   -0.372671
2021-12-28    0.124688
2021-12-29   -1.867995
2021-12-30   -0.634518
Name: ret, Length: 247, dtype: float64

In [16]:
len(r)

247

In [18]:
positive = 0
n = len(r)

for i in range(n):
    if r[i] > 0 :
        positive = positive + 1
negative = n - positive

In [19]:
positive

110

In [20]:
p_rate = positive / n

In [21]:
p_rate

0.44534412955465585

### 1. 삼성전자가 5일중 3일이 오를 확률은 얼마인가?

### 베르누이 확률변수와 이항분포

주식가격이 오는 날수를 $X$라고 하자 <br>
그러면  $X = X_1 + X_2 + X_3 + X_4 + X_5$로 표현할 수 있고,  $X \sim  B(5,0.44)$이다<br>

여기서 5일중 주식가격이 3일 오를 확률은 얼마인가?

$P(X = 3) =  \Large \frac{5!}{3!(5-3)!} (0.44)^3 (1-0.44)^{(5-3)}, k=0, 1, \cdots , n$

In [22]:
import math
a = math.factorial(5)
b = math.factorial(3) *math.factorial(2)
c = ((p_rate)**3) * ((1-p_rate) **2)
number = a/b

prob = number * c

In [23]:
prob

0.2717280195392497

### 2. 삼성전자는 1년중 몇일을 오르고 변동성은 어떻게 되는가?

상자모형 설정하고 상자안의 변동성을 살펴보자
* 상자안에 1이 440장, 0이 460장 있다고 하자
* 상자의 기댓값은 0.44
* 상자안의 변동성

In [24]:
# 상자 안의 표준편차, p4
expected = 0.445
var1 = ((1-expected)**2 * 0.44) + ((0-expected)**2 * 0.56)
sd1 = np.sqrt(var1)

In [25]:
sd2 = np.sqrt(0.44*(1- 0.44))

In [26]:
sd1

0.4964121271685453

In [27]:
sd2

0.4963869458396343

In [28]:
n

247

In [29]:
# 표준오차 
sd2 * np.sqrt(n)

7.801333219392696

In [30]:
n

247

In [31]:
positive

110

In [32]:
# 가격이 상승한 날의 수에 대한 Stnadard Error

In [33]:
p_rate=0.44

In [34]:
SE1 = np.sqrt(p_rate * (1-p_rate)) * np.sqrt(n)

In [35]:
SE1

7.801333219392696

In [36]:
# 약 8일, 표준오차

In [37]:
# 즉 삼성전자 주식은 109일 주변으로 약 8일 전후로 오른다.

In [38]:
## 가격이 상승한 날의 비율에 대한 SE

In [39]:
se2 = np.sqrt(p_rate * (1-p_rate))  /  np.sqrt(n)

In [40]:
se2 * 100

3.158434501778419

In [41]:
## 즉 kodex200 경우 1년동안 가격이 오를 확률은 59%를 준변으로 약 3% 전후로 오른다.