#  제5강

In [1]:
%pylab inline
import numpy as np
import pandas as pd
from ipypublish import nb_setup

Populating the interactive namespace from numpy and matplotlib

In [2]:
#data = "Z:\A01_DATA\DB\KOREA\KOSIS\F01_가계금융복지조사\Y2020\DATA\HOUSEHOLD2020.csv"
data = "HOUSEHOLD2020.csv"

In [3]:
df = pd.read_csv(data, encoding='CP949')

In [5]:
df.columns

Index(['기준년도', 'MD제공용_가구고유번호', '가중값', '수도권여부', '가구주_성별코드', '가구원수', '노인가구코드',
       '조손가구코드', '한부모가구코드', '다문화가구(2012년~)',
       ...
       '원리금상환기인가계지출감소항목코드', '부채상환가능시기코드', '가구주_은퇴여부', '가구주_미은퇴_은퇴연령',
       '가구주_미은퇴_최소생활비', '가구주_미은퇴_적정생활비', '가구주_미은퇴_노후준비상황코드', '가구주_은퇴실제연령',
       '가구주_은퇴_적정생활비충당여부', '가구주은퇴_생활비재원마련코드(2014년~)'],
      dtype='object', length=153)

In [7]:
columns = ["기준년도", "수도권여부", "MD제공용_가구고유번호", "가구주_성별코드", "가구주_만연령", "가구원수", "가구주_교육정도_학력코드", "가구주_혼인상태코드", "자산금액", "부채금액", "경상소득(보완)", "처분가능소득(보완)[경상소득(보완)-비소비지출(보완)]", "가구주_산업대분류코드", "가구주_직업대분류코드", "입주형태코드"]

In [8]:
df1 = df[columns]

In [9]:
df1.rename(columns={"기준년도":"year", "MD제공용_가구고유번호":"id", "수도권여부":"metro", "가구주_성별코드":"sex", "가구주_만연령":"age", "가구원수":'number', "가구주_교육정도_학력코드":"education", "가구주_혼인상태코드":"marriage", "자산금액":"asset", "부채금액":"debt", "경상소득(보완)":"income", "처분가능소득(보완)[경상소득(보완)-비소비지출(보완)]":"income_d", "가구주_산업대분류코드":"industry", "가구주_직업대분류코드":"job", "입주형태코드":"house"}, inplace=True)

C:\Users\OWNER\AppData\Local\Temp\ipykernel_9768\655569532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={"기준년도":"year", "MD제공용_가구고유번호":"id", "수도권여부":"metro", "가구주_성별코드":"sex", "가구주_만연령":"age", "가구원수":'number', "가구주_교육정도_학력코드":"education", "가구주_혼인상태코드":"marriage", "자산금액":"asset", "부채금액":"debt", "경상소득(보완)":"income", "처분가능소득(보완)[경상소득(보완)-비소비지출(보완)]":"income_d", "가구주_산업대분류코드":"industry", "가구주_직업대분류코드":"job", "입주형태코드":"house"}, inplace=True)

In [10]:
df1.tail()

,year,metro,id,sex,age,number,education,marriage,asset,debt,income,income_d,industry,job,house
18059,2020,G2,993800291,1,42,3,6,2,6705,2200,179,-390,NaN,NaN,3
18060,2020,G2,994800251,1,49,5,6,2,130180,22000,15454,11784,O,3,1
18061,2020,G2,994800261,1,57,5,6,2,265226,29000,15098,11560,NaN,NaN,1
18062,2020,G2,994800291,2,53,2,7,4,109695,25000,9114,7074,O,2,2
18063,2020,G2,995800261,1,44,5,6,2,71223,13000,7857,5404,C,3,1

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18064 entries, 0 to 18063
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       18064 non-null  int64
 1   metro      18064 non-null  object
 2   id         18064 non-null  int64
 3   sex        18064 non-null  int64
 4   age        18064 non-null  int64
 5   number     18064 non-null  int64
 6   education  18064 non-null  int64
 7   marriage   18064 non-null  int64
 8   asset      18064 non-null  int64
 9   debt       18064 non-null  int64
 10  income     18064 non-null  int64
 11  income_d   18064 non-null  int64
 12  industry   13214 non-null  object
 13  job        13214 non-null  object
 14  house      18064 non-null  int64
dtypes: int64(12), object(3)
memory usage: 2.1+ MB

In [12]:
df1.to_csv("household_2020a.csv", index=False)