### Logistic Regression

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

In [2]:
df = pd.read_excel("exam_pass.xlsx")

In [8]:
df.head()

   hours  pass  const
0   0.50     0      1
1   0.75     0      1
2   1.00     0      1
3   1.25     0      1
4   1.50     0      1

In [9]:
# 1. 합격, 0 불합격

In [10]:
df['const'] = 1

In [11]:
df.tail()

    hours  pass  const
15   4.25     1      1
16   4.50     1      1
17   4.75     1      1
18   5.00     1      1
19   5.50     1      1

In [12]:
logit = sm.Logit(endog = df['pass'], exog = df[['const', 'hours']])

In [13]:
results = logit.fit()
type(results)

Optimization terminated successfully.
         Current function value: 0.401494
         Iterations 7

statsmodels.discrete.discrete_model.BinaryResultsWrapper

In [14]:
print(results.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                   pass   No. Observations:                   20
Model:                          Logit   Df Residuals:                       18
Method:                           MLE   Df Model:                            1
Date:                Tue, 14 Feb 2023   Pseudo R-squ.:                  0.4208
Time:                        14:17:52   Log-Likelihood:                -8.0299
converged:                       True   LL-Null:                       -13.863
Covariance Type:            nonrobust   LLR p-value:                 0.0006365
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.0777      1.761     -2.316      0.021      -7.529      -0.626
hours          1.5046      0.629      2.393      0.017       0.272       2.737
==============================================================================

In [15]:
beta0 = results.params[0]

In [16]:
beta0

-4.07771343108763

In [17]:
beta1 = results.params[1]

In [18]:
beta1

1.504645428373333

log($\large\frac{p}{1-p}$) = $\beta_0 + \beta_1 x_1$

In [19]:
x = 1

In [20]:
def log_odds(x):
    return beta0 + beta1 * x

In [21]:
log_odds(x)

-2.5730680027142965

odds(승산) = $\large\frac{p}{1-p}$,  어떤 사건이 일어나지 않을 확률에 대비해 일어날 확률

* $p$ = $\Large\frac{e^{(\beta_0 + \beta_1 x_1+ \beta_2x_2)}}{1+e^{(\beta_0 + \beta_1 x_1+ \beta_2x_2)}}$ = $\large\frac{1}{1+e^{-(\beta_0 + \beta_1 x_1+ \beta_2x_2)}}$

In [22]:
def prob(x):
    return 1/ (1 + np.exp(-(log_odds(x))))

In [23]:
prob(1)

0.07089195989968791

In [24]:
n = 5

In [25]:
total = np.zeros((n,3)) # hours, log_odds, prob

In [26]:
total

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [27]:
for i in range(n):
    k = i + 1
    log_odds = beta0 + beta1 * k
    prob = 1/ (1 + np.exp(-(log_odds)))
    
    total[i-1][0] = k
    total[i-1][1] = log_odds
    total[i-1][2] = prob

In [28]:
total

array([[ 2.        , -1.06842257,  0.25570318],
       [ 3.        ,  0.43622285,  0.60735865],
       [ 4.        ,  1.94086828,  0.8744475 ],
       [ 5.        ,  3.44551371,  0.96909707],
       [ 1.        , -2.573068  ,  0.07089196]])

In [29]:
df1 = pd.DataFrame(data = total, columns= ['hours', 'log_odds', 'prob'])

In [30]:
df1.sort_values(by = ['hours'])

   hours  log_odds      prob
4    1.0 -2.573068  0.070892
0    2.0 -1.068423  0.255703
1    3.0  0.436223  0.607359
2    4.0  1.940868  0.874448
3    5.0  3.445514  0.969097