In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("household_2020a.csv")

In [4]:
df.tail()

,year,metro,id,sex,age,number,education,marriage,asset,debt,income,income_d,industry,job,house
18059,2020,G2,993800291,1,42,3,6,2,6705,2200,179,-390,NaN,NaN,3
18060,2020,G2,994800251,1,49,5,6,2,130180,22000,15454,11784,O,3,1
18061,2020,G2,994800261,1,57,5,6,2,265226,29000,15098,11560,NaN,NaN,1
18062,2020,G2,994800291,2,53,2,7,4,109695,25000,9114,7074,O,2,2
18063,2020,G2,995800261,1,44,5,6,2,71223,13000,7857,5404,C,3,1

In [5]:
#df1 = df.loc[df['number'].isin([1]) & (df['age'] >= 30) & (df['age'] < 39)]

In [10]:
df1 = df[['income', 'education']]

In [11]:
# education = 1.안받음(미취학 포함), 2.초등학교, 3.중학교, 4.고등학교, 5.대학(3년제 이하), 6.대학교(4년제 이상), 7.대학원(석사), 8.대학원(박사)

In [12]:
def edu(x):
    if x == 2:
        return 6
    elif x == 3:
        return 9
    elif x == 4:
        return 12
    elif x == 5:
        return 14
    elif x == 6:
        return 16
    elif x == 7:
        return 18
    elif x == 8:
        return 21
    else:
        return 0

In [13]:
df2 = df1.copy()

In [14]:
df2['education_year'] = df2['education'].apply(edu)

In [16]:
df3 =df2.drop(['education'], axis=1)

In [17]:
corr = df3.corr()

In [18]:
corr

                  income  education_year
income          1.000000        0.404591
education_year  0.404591        1.000000

In [19]:
np.round(corr.iloc[0, 1], 3)

0.405

In [35]:
import math

def de_mean(x):
    x_bar = np.mean(x)
    return [x_i - x_bar for x_i in x]

def covariance(x, y):
    n = len(x)
    return np.dot(de_mean(x), de_mean(y))/ (n-1)

def sum_of_squares(x):
    return sum(list(map(lambda a : a*a, x)))

def variance(x):
    n = len(x)
    deviation = de_mean(x)
    return sum_of_squares(deviation)/(n-1)
    

def standard_deviation(x):
    return math.sqrt(variance(x))

def correlation(x,y):
    stdev_x = standard_deviation(x)
    stdev_y = standard_deviation(y)
    return np.round(covariance(x,y) / (stdev_x * stdev_y), 2)

In [37]:
edu = df3.to_numpy()

In [38]:
x = edu[:,0]

In [39]:
y = edu[:, 1]

In [40]:
correlation(x,y)

0.4

In [43]:
### map, labda

### lambda

In [44]:
# regular, imperative declaration.
def square1(a):
    return a*a

In [45]:
square1(5)

25

In [22]:
# declaration assigning a lambda 
square2 = lambda a: a*a
square2(5)

25

In [23]:
#inline declaration: what is sanity?
(lambda a: a*a) (5)

25

### map 함수

In [24]:
# map(function, iterable), iterable에는 list나 tuple이 온다
# map함수는 객체이기 때문에 goekd wkfyguddmfh list나 tuple로 변환시텨줍니다.

In [25]:
myList = [1,2,3]

In [26]:
result1 = []
for i in myList:
    i2 = square1(i)
    result1.append(i2)

In [27]:
result1

[1, 4, 9]

In [28]:
result2 = list(map(square1,[1,2,3]) )

In [29]:
result2

[1, 4, 9]

In [30]:
result3 = list(map(lambda a: a*a ,[1,2,3]) )

In [31]:
result3

[1, 4, 9]

In [32]:
sum(result3)

14

In [33]:
result4 = sum(list(map(lambda a: a*a ,[1,2,3])))

In [34]:
result4

14