In [5]:
import pandas as pd
import numpy as np
#from scipy import linalg

## 션형대수 기초

In [10]:
A = ((1,1), (2,2), (3,3))

In [11]:
type(A)

tuple

In [13]:
A = np.array(A)

In [14]:
A

array([[1, 1],
       [2, 2],
       [3, 3]])

In [15]:
type(A)

numpy.ndarray

In [16]:
A.shape

(3, 2)

In [17]:
A.shape[0]

3

In [18]:
B = np.ones((3,2))

In [19]:
type(B)

numpy.ndarray

In [20]:
B

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [21]:
A+B

array([[2., 2.],
       [3., 3.],
       [4., 4.]])

In [22]:
A-B

array([[0., 0.],
       [1., 1.],
       [2., 2.]])

In [23]:
A * B , #A*B element by element multiplications

(array([[1., 1.],
        [2., 2.],
        [3., 3.]]),)

## 행렬 곱

In [24]:
A = np.arange(1,7).reshape(2,3)

In [25]:
A

array([[1, 2, 3],
       [4, 5, 6]])

In [26]:
B = np.arange(1,7).reshape(3,2)

In [27]:
B

array([[1, 2],
       [3, 4],
       [5, 6]])

In [28]:
np.matmul(A,B)

array([[22, 28],
       [49, 64]])

In [29]:
A @ B

array([[22, 28],
       [49, 64]])

## Transpose Matrix

In [30]:
A

array([[1, 2, 3],
       [4, 5, 6]])

In [31]:
A.T #transpose

array([[1, 4],
       [2, 5],
       [3, 6]])

In [32]:
A_T = A.T

In [33]:
A_T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [34]:
A_T.shape

(3, 2)

## inverse matrix

In [35]:
A = np.array([[1., 2.], [3., 4.]])

In [36]:
A

array([[1., 2.],
       [3., 4.]])

In [37]:
A.shape

(2, 2)

In [38]:
A_inverse = np.linalg.inv(A)

In [39]:
A_inverse

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [40]:
np.linalg.inv(A_inverse)

array([[1., 2.],
       [3., 4.]])

## (AB)^-1 = B^-1 A^-1

In [41]:
import numpy.linalg as la

In [42]:
A = np.arange(1,5).reshape(2,2)
B = np.arange(1,5).reshape(2,2)

In [43]:
A

array([[1, 2],
       [3, 4]])

In [44]:
np.round(la.inv(A @ B), 2)

array([[ 5.5 , -2.5 ],
       [-3.75,  1.75]])

In [45]:
A_inverse = np.round(la.inv(A), 2)
B_inverse = np.round(la.inv(B), 2)

In [46]:
A_inverse @ B_inverse

array([[ 5.5 , -2.5 ],
       [-3.75,  1.75]])

## X'X

In [47]:
X = ((1,1), (2,2), (3,3))

In [48]:
X = np.array(X)

In [49]:
X

array([[1, 1],
       [2, 2],
       [3, 3]])

In [50]:
A.T

array([[1, 3],
       [2, 4]])

In [51]:
A.T @ A

array([[10, 14],
       [14, 20]])

## Properties Symmeric Matrices

In [52]:
A = np.array([[2, 4, -1], [4, -8, 0], [-1, 0, 3]])
A

array([[ 2,  4, -1],
       [ 4, -8,  0],
       [-1,  0,  3]])

In [53]:
A.T

array([[ 2,  4, -1],
       [ 4, -8,  0],
       [-1,  0,  3]])

In [54]:
A.T @ A

array([[ 21, -24,  -5],
       [-24,  80,  -4],
       [ -5,  -4,  10]])

In [55]:
np.round(la.inv(A.T @ A), 3)

array([[0.101, 0.034, 0.064],
       [0.034, 0.024, 0.026],
       [0.064, 0.026, 0.143]])